/* .myslider{

    width: 800px;
  
}

.myslider img{

width: 500px;
height: 500px;
} */

.myslider{
width: 800px;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.myslider img{

    height: 500px;
}

/* .my-card-styling{

    display: flex;
    gap: 25px;
    flex-wrap: wrap;
} */