h3{
    color: blue;
}

.red{
    color: red;
    background-color: rgba(26, 25, 23,0.6)
   
}

.yellow{

    color: #b8ac0f;
    background-color: gray;
}

.head1{

    color: chartreuse;
}

.yellowgreen{

    background-color: yellowgreen;
}


body{

    font-family:Arial Black;
}



