*{
font-size: 20px;
     margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    /* background-color: #D9F0FF; */
   
}

a{

    text-decoration: none;
     color: white;
     font-size: 20px;
     font-family: Helvetica, Arial, sans-serif;
     
   
    
}

.div-a1{

display: inline-block;
margin: 20px;

    background-color: black;


}

.div-a2{

    margin: 20px;
display: inline-block;
 background-color: black;

}

.div-a3{
margin: 20px;
display: inline-block;
 background-color: black;

}


.Legend-1{

    margin-left: 20px;
    /* margin-bottom: 20px; */
    padding: 10px;
    font-size: 24px;
}


#Email{

    margin-bottom:20px ;
     margin-left: 20px;
     width: 400px;
      border-radius: 10px;
     padding: 10px;
}

#password{

    margin-bottom: 20px;
    margin-left: 20px;
    width: 400px;
     border-radius: 10px;
     padding: 10px;
}


.fieldset-Login{
margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;


}

.Login-label{

    margin-left: 20px;
    font-size: 24px;
}

#ConfirmPassword{

    margin-left: 20px;
    margin-bottom: 30px;
    width: 400px;
    border-radius: 10px;
     padding: 10px;

    
}

.ConfirmPassword2{

    margin-left: 20px;
    font-size: 24px;

  
}


.button{

    background-color: white;
    border: 1px solid white;
    
}




.icons{


    width: 160px;
    margin-bottom: 30px;
    margin-left: 20px;

   

}



#FirstName{

     margin-left: 20px;
     width: 400px;
     margin-bottom: 30px;
     border-radius: 10px;
     padding: 10px;
}

.FirstName{

    margin-left: 20px;
     font-size: 24px;
}

#LastName{

margin-left: 20px;
width: 400px;
margin-bottom: 30px;
border-radius: 10px;
padding: 10px;

}

.LastName{

    margin-left: 20px;
     font-size: 24px;
}

.CNIC-heading{

    margin-left: 20px;
     font-size: 24px;
}


.CNIC-field{

    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 10px;
   
}

#CNIC{

    margin-left: 20px;
    
   
}

#SocialLink{

    margin-left: 20px;
width: 400px;
margin-bottom: 30px;
border-radius: 10px;
padding: 10px;
background-color: white;


}

.SocialLink-heading{

    margin-left: 20px;
     font-size: 24px;
}

.icon-page2{

    border: 1px white solid;
    background-color: white;
    width: 160px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;

    
}

.form{

    background-color: white;
}

.Select{

    margin-bottom: 30px;
    border-radius: 10px;
}

.Select-line{

    font-size: 24px;
    margin-bottom: 10px;

}

.radio{

    font-size: 24px;
}

#Yes{

margin-top: 15px;
margin-bottom: 30px;

}

.Description{

    font-size: 24px;
    
}

   /*.Comments{

  width: 300px;
    height: 300px;
    padding: 30px;
    margin-bottom: 40px; 
} */

.label-chose{

font-size: 24px;
margin-bottom: 20px;


}

#chose-file{

    width: 115px;
    font-size: 12px;
    margin-bottom: 20px;
    
}

.icon-page3{
    

 background-color: white;
border: 1px white solid;
width:160px ;
}

#checkbox{

    margin-bottom: 20px;
}

.Thanks{

    font-size: 50px;
    /* font-weight: bold; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;

}

.SurveyAgain{

 
  margin-left: 700px;
  padding: 10px;
 background-color: #b80ccf;
 border: 1px #b80ccf solid;
}