*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Box1{

    background-color: red;
    width: 200px;
    /* flex-shrink: 3; */
      flex-wrap: wrap;
      /* flex: 1; */
    
}

.Box2{

    background-color: green;
        width: 200px;
        /* flex-shrink: 3; */
          flex-wrap: wrap;
        /* flex: 2; */

}

.Box3{

    background-color: blue;
        width: 200px;
        /* flex-shrink: 1; */
          flex-wrap: wrap;
          gap: 20px;
/* flex: 2; */

}

.Box4{

    background-color: purple;
        width: 200px;
        /* flex-shrink: 1; */
      /* flex: 1; */

}

.parent{
border: 10px solid black;
    display: flex;
     /* justify-content: center; */
     /* align-items: flex-end; */
     /* height: 100vh; */
     /* align-items: start; */
     justify-content: center;
     /* justify-content: space-evenly; */
     align-items: start;
     /* flex-wrap: wrap-reverse; */
flex-flow:row wrap;
     
     min-height: 80px;
padding: 30px 15px;

             



}

/* 
.Box100{

    background-color: orange;
    display: inline-block;
    width: 20%;
}

.Box200{

    background-color: rgb(255, 0, 179);
    display: inline-block;
      width: 20%;
}

.Box300{

    background-color: yellow;
    display: inline-block;
        width: 20%;
}

.Box400{

    background-color: gray;
    display: inline-block;
        width: 20%;
}

.new-parent{

    /* display: inline-block; */
   /* text-align: center;
} */

/*  Display:flex;
    flex-direction:column; */

/* 
    .Box1000{

/* margin-top: 20px; */
      /*  background-color: blueviolet;
        width: 200px;
        order: 4;
    }

    .Box2000{


        background-color: violet;
         width: 200px;
         order: 3;
    }

    .Box3000{


        background-color: rgb(101, 58, 58);
         width: 200px;
         order: 2;
    }

    .Box4000{

        background-color: yellowgreen;
         width: 200px;
         order: 1;
    }
.new-container{
border: 5px solid black;
    background-color: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    /* align-items: end;
    justify-content: start; */
  /*  height: 60vh;
flex-direction: column-reverse;  
/* align-items: baseline; */
/* justify-content: center;
align-items: center; */
/*  justify-content: center;
align-items: center;
} */

.new-parent2{
margin: 30px;
border: 5px solid black;
display: flex;
flex-flow: row wrap ;
justify-content: center;

}