 *{

    margin: 0;
    padding: 0;
    box-sizing: ;
}
/*
.Card{


    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

p{

    font-size: 20px;
}
.icon{

    position: absolute;
    right: 0;
    top: 40px;

} */

/* .container{

    background-image: radial-gradient(red,green ,blue,lightgray);
    height: 700px;
} */

.Box1{

    background-color: red;
    font-size: 30px;
}

@media only screen  and (max-width:700px) {

    .Box1{

    background-color: green;
    font-size: 20px;
}

}