*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

.Box1{
    border: 1px solid black;
    /* padding: 80px 100px; */
    /* padding: 50px 100px; */
    text-align: center;
    /* margin: 50px 100px;*/
    width: 50%;
   /* margin: 50px 100px; */

    /* margin-top: 50px;
    margin-right: 80px;
    margin-left: 100px;
    margin-bottom: 30px; */
/* padding: 30px; */
    /* margin: 70px 140px 240px; */
    box-sizing: border-box;
   visibility: visible;
    /* visibility: collapse; */
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 25px 10px 50px 40px;
    margin-top: 30px;

}

.Box2{
    border: 1px solid black;
}


.div1{
    background-color:red ;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
}

.div2{
    background-color:rgb(144, 0, 255) ;
    width: 300px;
    height: 300px;
    /* display: inline-block; */
}

.navbar a{
    color: green;
    font-size: 20px;
    display: block;
}

.circle{

    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: blue;
    
}