a{

    color: green;
}

.Mustafa{

    color: cadetblue;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(232, 232, 5,0.7);

   
}

.Head1{

    color: rgb(67, 16, 161);
    font-family: Calibri;
    text-transform: capitalize;

}

