.para1{

    text-align: justify;
}

.span1{

    /* text-decoration:  underline double #0010a3; */
    text-decoration: overline;
}

.span2{
    line-height: 25px;
    word-spacing: 15px;
    letter-spacing: 14px;
}

.lorem1{
    text-decoration: overline;
}

.strike{

    text-decoration: line-through;
}

.loe {
    text-shadow: 2px 2px 4.5px black
}

.name{
    text-shadow: 2px 2px 5px yellow;
}

.border{
    border: 1px rgb(95, 160, 103) ;
}